@section scripts
{
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}

<div class="container body-content">

    <h3>Simple transformation</h3>

    <pre class="prettyprint lang-cs">
Engine.Source("Input Data", Enumerable.Range(0, 100000))
      .Map(source => 
           from x in source
           where x % 1000 == 0
           select "Number: " + x);</pre>
    
    <svg-graph node="@SimpleTransform.Example().ExtractGraph()" />

    @using (Html.BeginForm("StartSimpleTransform", "Run"))
    {
        <button type="submit" class="btn btn-primary">Execute</button>
    }

    <h3>
        Having multiple sources
    </h3>

    <svg-graph node="@MultipleSourcesTransform.Example().ExtractGraph()" />
</div>